body{
    background-color: yellow;
}

h1{
    font-family: 'Special Elite', cursive;
    background-color: black;
    color: grey;
}

#show_sketch{
    float: right;
}

#score{
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    margin-left: 5px;
}

#timer{
    float: right;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    margin-right: 5px;
}

p{
    font-size: 25px;
    font-family: 'Special Elite', cursive;
    color: skyblue;
}

#sketch_to_be_drawn{
    color: white;
    
}